@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-align: center;
}
body {
  height: 100vh;
  font-family: "Monserrat", sans-serif;
}
header {
  background: url(./images/bg.jpg) center/cover;
  height: 400px;
  color: #fff;
  position: relative;
}
nav {
  width: 50%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  padding: 15px 0;
}
nav img {
  width: 150px;
  margin: 0 25px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
}

h1 {
  width: 400px;
  text-align: left;
  margin: 15px 40px;
  padding: 0 15px;
  font-size: 2.7rem;
  font-family: "Abril Fatface", sans-serif;
}
a,
a:visited {
  color: #fff;
}

h3,
p {
  font-size: 0.8rem;
}
.button {
  border: 1px solid bisque;
  border-radius: 25px;
  padding: 5px 15px;
  background: #add981;
}
header .button {
  background: transparent;
  border: hidden;
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 0.6rem;
}
.button,
i {
  margin: 0 5px;
}

.services {
  height: 170px;
}
.service-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.serv-container {
  position: relative;
}
.container-element {
  align-items: center;
}
.container-element a {
  color: #add981;
  font-size: 1.8rem;
}
.container-element p {
  width: 120px;
  padding: 10px 0;
  font-size: 0.8rem;
  font-weight: 600;
}
.ventes {
  height: px;
}
.ventes h2 {
  width: 325px;
  letter-spacing: 2px;
  margin: 0 40px;
  font-size: 1.9rem;
  font-family: "Abril Fatface", sans-serif;
}
.mv-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 15px 40px;
  text-align: left;
  height: 450px;
  position: relative;
}
.container-prix1 {
  background: url(./images/nos_meilleures_ventes/1.jpg) center/cover;
}
/* revoir la partie de la mise en forme avec une img en bg et des elements en pas */
.one {
  position: absolute;
  bottom: 0;

  background: #ffffffdf;
}
.container-prix2 {
  background: url(./images/nos_meilleures_ventes/2.jpg) center/cover;
  /* position: relative; */
}
.container-prix3 {
  background: url(./images/nos_meilleures_ventes/3.jpg) center/cover;
}
.container-prix4 {
  background: url(./images/nos_meilleures_ventes/4.jpg) center/cover;
}

.mv-container,
div {
  background: #ffffffdf;
  position: ;
}

.plantes {
  display: block;
}
.plante1 {
  margin: auto 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 400px;
  padding: 20px 0;
}
.plante-container1 {
}
.plantes2-2 {
  display: grid;
}
.plante-container1 {
  background: url(./images/nos_plantes/1.jpg) center/cover;
}
.plante-container2 {
  background: url(./images/nos_plantes/2.jpg) center/cover;
}
.plante-container3 {
  background: url(./images/nos_plantes/3.jpg) center/cover;
}

.plante2 {
  height: 400px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin: auto 40px;
}
.plante-container4 {
  background: url(./images/nos_plantes/4.jpg) center/cover;
  width: 90%;
}
.plante-container5 {
  background: url(./images/nos_plantes/5.jpg) center/cover;
  width: 90%;
}
.plante-container6 {
  background: url(./images/nos_plantes/6.jpg) center/cover;
}

footer {
  height: 100px;
  position: relative;
}
footer p {
  padding: 40px 0;
  font-size: 0.5rem;
}
.copyright {
  position: absolute;
  left: 40px;
}
.CGV {
  position: absolute;
  right: 40px;
}
/* .container-prix1 > div {
  text-align: center;
  background: #ffffffdf;
  position: absolute;
  bottom: 0;
  width: 150px;
} */
/* .img2-banner {
  background: url(./images/nos_meilleures_ventes/2.jpg) center/cover;
  height: 100%;
} */
/* 
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.7rem;
  font-family: "Abril Fatface", cursive;
  width: 300px;
  margin: 0 60px;
}
h2 {
  font-family: "Abril Fatface", cursive;
}
h3 {
  font-weight: 900;
}
p {
  color: #add981;
}

header {
  background: url(./images/bg.jpg) center/cover;
  color: #ffffffdf;
}
a,
a:visited {
  color: #fff;
}
.button {
  border: 1px solid #ccc;
  padding: 5px 20px;
  border-radius: 30px;
  background: transparent;
 
  background-color: #add981;
  cursor: pointer;
  font: 700 0.75rem;
  display: inline-block;
  transition: 1s;
  font-weight: 600;
}

button:hover {
  color: rgb(255, 214, 127);
  transition: 1s;
}
nav {
  display: flex;
  width: 500px;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  font-weight: 900;
  width: 50%;
}
nav img {
  padding: 0 30px;
  width: 200px;
  margin: 20px 0;
}
button,
i {
  margin: 5px;
}

.magasin-service {
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
  text-align: center;
  font-weight: bold;
}
.magasin-service-container {
  width: 136px;
}
.magasin-service-container li {
  text-align: center;
}
.magasin-service-container i {
  padding: 20px 0;
  color: #add981;
  font-size: 2.5rem;
}
.magasin-service-container p {
  color: black;
  font-size: 0.8rem;
}
.section-2 h2 {
  margin: 30px 60px;
  font-size: 2rem;
  letter-spacing: 3px;
}

.mventes-container {
  display: flex;
  padding: 0 60px;
}
.list-mventes-container {
  background: url(./images/nos_meilleures_ventes/1.jpg) center/cover;
}
.list-mventes-container {
  background: #ffffffdf;
  position: relative;
}
.list-mventes-container > .mvc-img {
}
.mvc-img img {
  object-fit: cover;
  width: 100%;
}
.list-mventes-container h3 {
  padding: 15px;
  font-size: 1.1rem;
}
.list-mventes-container button {
  background: #add981;
  width: 110px;
  margin: 0 35px;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.list-mventes-container p {
  padding: 0 15px;
  font-size: 0.9rem;
  font-weight: bold;
}

.plantes h2 {
  margin: 30px 60px;
  font-size: 2.5rem;
}
.plantes-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.plante-container-left {
  background: url(./images/nos_plantes/1.jpg) center/cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.plant-container {
  position: absolute;
  background: #ffffffdf;
  bottom: 0;
  width: 100%;
}
.plant-container button {
  background: #add981;
  padding: 10px;
}

.plante-container-right {
  position: relative;
  padding: 0 60px 0 20px;
}
.container-right-top {
  background: url(./images/nos_plantes/2.jpg) center/cover;
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
}
.container-right-bottom {
  background: url(./images/nos_plantes/3.jpg) center/cover;
  height: 50%;
} */ ;
